{
    "presets": [ "@babel/preset-flow" ],
    "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        ["transform-react-jsx", {
            "pragma": "xml" // default pragma is React.createElement
        }]
    ]
  }
