version: "3.8"
services:
 redis:
   image: "redis:alpine"
   command: redis-server /usr/local/etc/redis/redis.conf
   ports:
    - "6379:6379"
   volumes:
    - $PWD/redis-data:/var/lib/redis
    - $PWD/redis.conf:/usr/local/etc/redis/redis.conf

#     networks:
#       redis_net:
#         ipv4_address: 172.28.1.4

# networks:
#   redis_net:
#     ipam:
#       driver: default
#       config:
#         - subnet: 172.28.0.0/16
